#todo-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
input#todo-input {
  flex-grow: 1;
}
input#todo-input,
button#todo-add {
  height: var(--todo-intput-height);
  font-size: var(--todo-intput-font-size);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}
textarea#todo-description-input {
  width: 100%;
  margin-top: 1rem;
  height: 5rem;
  resize: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

#todos {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
}
